@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.header-2{
    left: -600px;
    transition: left 0.9s; 
}
.header-2 nav ul {
    display: flex;
}

.header-2 nav ul li a {
    margin-left: 50px;
    /* font-size: 80px; */
}

.header-banner-main {
    background-image: url(imgs/banner2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 300px;
    margin-bottom: 100px;
}

.header-1 h4{
    color: #E9BD8C;
    font-size: 30px;
}
.h2-heading{
    color: #E9BD8C;
    font-size: 30px;
    display: none;
}

.header-2 nav ul li a {
    color: white;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.6s ease-in-out;
}

.header-2 nav ul li a:hover {
    color: #E9BD8C;
}

.header-2 {
    margin-left: 100px;
}

.header-3 i {
    color: white;
    margin-left: 20px;
    font-size: 30px;
    transition: all 0.6s ease-in-out;
}

.header-3 i:hover {
    color: #933C24;
}
.header-4 i{
    color: white;
    font-size: 26px;
}
.close-icon{
    display: none;
    color: white;
    font-size: 25px;
}
.header-4{
    display: none;
}

/* ////////////////////////////////////////////// banner ////////////////////// */
.banner-main {
    margin-top: 200px;
  

}

@keyframes move {
    from {
        transform: translateX(20px);
        filter: blur(0px);
    }

    to {
        transform: translateX(-200px);
        filter: blur(100px);
    }
}

    .banner-left h4{
        color: #E9BD8C;
        margin-bottom: 10px;
        font-size: 30px;
        animation: move 1s ease forwards alternate-reverse;
    }

    .banner-left h2 {
        color: white;
        font-size: 80px;
        font-family: "Sansita Swashed", system-ui;
        padding-bottom: 60px;
        animation: move 1.3s ease forwards alternate-reverse;
    }

    .banner-left .btn-1 {
        background-color: #933C24;
        color: white;
        padding: 10px 30px;
        border-radius: 4px;
        font-weight: 500;
        margin-right: 20px;
        transition: all 0.6s ease-in-out;
        animation: move 1.5s ease forwards alternate-reverse;
    }

    .banner-left .btn-1:hover {
        background-color: #E9BD8C;
        color: #933C24;
    }

    .banner-left .btn-2 {
        color: #E9BD8C;
        font-weight: 600;
        animation: move 1.6s ease forwards alternate-reverse;
    }

    .banner-btn {
        margin-bottom: 50px;
    }



    /* ////////////////////////////////////////////////////////////////////////////////////// */

    
    .products-main h2 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 60px;
        font-family: "Sansita Swashed", system-ui;
        /* animation: move 1.1s ease forwards alternate-reverse; */
    }

    .products-section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .products-card {
        background-image: url(imgs/Rectangle\ 69.png);
        margin-left: 20px;
        padding: 30px;
        border-radius: 4px;
        width: 100%;
        background-repeat: no-repeat;
        max-width: 350px;
    }
    .ani-1{
        /* animation: move2 1.3s ease forwards alternate-reverse; */
    }

    @keyframes move2 {
        from {
            transform: translateX(0px);
            filter: blur(0px);
        }
    
        to {
            transform: translateX(-800px);
            filter: blur(100px);
        }
    }
    .ani-2{
        /* animation: move3 1.5s ease forwards alternate-reverse ; */
    }
    @keyframes move3 {
        from {
            transform: translateX(0px);
            filter: blur(0px);
        }
    
        to {
            transform: translateX(800px);
            filter: blur(100px);
        }
    }
    .products-card p {
        color: white;
        font-weight: 700;
    }

    .products-center {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .products-card h3 {
        color: white;
        max-width: 150px;
    }

    .products-center a {
        padding: 8px 20px;
        background-color: #933C24;
        color: white;
        border-radius: 4px;
    }

    .products-card p {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .products-card img {
        margin: 0 auto;
        display: flex;
        margin-bottom: 20px;
        transition: all 0.3s ease-in;
    }

    .products-card img:hover {
        transform: scale(.9) rotate(8deg);
    }

    .Products {
        margin-bottom: 100px;
    }
 /* //////////////////////////////////////////////////////////////////////////////////// */

    /* /////////////////////////////////////////////////////////////// */
    
    .Blog {
        background-image: url(imgs/blog.jpg);
        /* background-attachment: fixed; */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 100px;
    }

    .blog-main {
        padding: 70px 0;
        text-align: center;
    }

    .blog-main h2 {
        font-family: "Sansita Swashed", system-ui;
        font-size: 40px;
        color: #933C24;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        /* animation: move 1s ease forwards alternate-reverse; */
    }

    .blog-main p {
        margin: 0 auto;
        color: #5D5D5D;
        max-width: 230px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        /* animation: move 1.2s ease forwards alternate-reverse; */
    }

    .blog-main a {
        background-color: #933C24;
        color: white;
        padding: 10px 40px;
        border-radius: 8px;
        /* animation: move 1.4s ease forwards alternate-reverse; */
    }

    /* /////////////////////////////////////////////////////////////// */

    
    .Explore-main h2 {
        font-family: "Sansita Swashed", system-ui;
        font-size: 40px;
        text-align: center;
        margin-bottom: 25px;
        /* animation: move 1.3s ease forwards alternate-reverse; */
    }

    .explore-nav nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

    }

    .explore-nav nav ul li a {
        margin-left: 20px;
        font-weight: 600;
        color: #5D5D5D;
        font-size: 20px;
        transition: all 0.9s ease-in-out;
        
    }
    .explore-nav nav ul li a:hover{
        border-bottom: 2px solid #933C24;
    }
    .explore-nav .cake{
        border-bottom: 2px solid #933C24;
    }
    .explore-imgs {
        display: flex;
       align-items: center;
       justify-content: center;
        transition: all 0.6s ease-in;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
    }

    .explore-imgs img{
        transition: all 0.6s ease-in-out;
        filter: grayscale(0);
    }

    .parent-explore{
        overflow: hidden;
        border-radius: 10px;
    }

    .parent-explore img:hover{
   
        filter: grayscale(.4);
        transform: scale(1.2) rotate(4deg);
    }

    .Explore {
        margin-bottom: 100px;
    }


    /* /////////////////////////////////////////////////////////////// */

    .about{
        margin-bottom: 100px;
    }


    /* /////////////////////////////////////////////////////////////// */

    
.your-slider{
    margin: 0 auto;
 }
 .your-slider img{
     width: 100%;
     object-fit: cover;
     height: 500px;
     border-radius: 4px;
 }
 
 .slick-prev:before{
     color: black;
 }
 .slick-next:before{
     color: black;
 }
 
     /* ////////////////////////////////////////////////////////// */
     footer {
         background-image: url(imgs/Rectangle\ 75.png);
         padding-top: 50px;
         padding-bottom: 50px;
     }
 
     .footer-top {
         display: flex;
         align-items: center;
         justify-content: space-between;
     }
 
     .footer-top-left h2 {
         color: #E9BD8C;
         /* animation: move 1.4s ease forwards alternate-reverse; */
     }
 
     .footer-top-right {
         display: flex;
         align-items: center;
     }
 
     .footer-top-right p {
         font-size: 30px;
         /* animation: move 1.4s ease forwards alternate-reverse; */
         color: #E9BD8C;
         margin-right: 50px;
     }
 
     .footer-top-right i {
         font-size: 40px;
         color: #E9BD8C;
         /* animation: move 1.4s ease forwards alternate-reverse; */
         margin-left: 10px;
     }
 
     .footer-top {
         border-bottom: 1px solid #E9BD8C;
         padding-bottom: 20px;
     }
 
     .footer-bottom-main {
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-wrap: wrap;
     }
 
     .footer-bottom-1 h2,
     .footer-bottom-2 h2,
     .footer-bottom-3 h2 {
         font-size: 36px;
         color: #E9BD8C;
         margin-bottom: 20px;
         /* animation: move 1.4s ease forwards alternate-reverse; */
     }
 
     .footer-bottom-1 a {
         /* animation: move 1.4s ease forwards alternate-reverse; */
         flex-direction: column;
         display: flex;
         line-height: 40px;
         color: white;
         font-size: 20px;
     }
 
     .footer-bottom-2 nav ul li a {
         color: white;
         font-size: 20px;
         line-height: 40px;
         /* animation: move 1.4s ease forwards alternate-reverse; */
     }
 
     .footer-bottom-3-center {
         display: flex;
         align-items: center;
     }
 
     .footer-bottom-3-left {
         margin-right: 20px;
         margin-bottom: 5px;
     }
 
     .footer-bottom-3-right p {
         color: #E9BD8C;
         /* animation: move 1.4s ease forwards alternate-reverse; */
     }
 
     .footer-bottom-3-right h4 {
         color: white;
         /* animation: move 1.4s ease forwards alternate-reverse; */
         font-size: 20px;
     }
 
     .footer-end {
         margin-top: 80px;
     }
 
     .footer-bottom {
         margin-top: 50px;
     }
 
     .footer-end a {
         display: flex;
         justify-content: center;
         color: #B9B9B9;
         font-size: 20px;
         /* animation: move 1.4s ease forwards alternate-reverse; */
     }
 
 
